In [7]:
import pandas as pd
data = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\DataVis_Homework1\crime_data.csv")
print(data.head())

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  241711715  08/01/2024 12:00:00 AM  08/01/2024 12:00:00 AM      1319    17
1  231014031  09/21/2023 12:00:00 AM  09/15/2023 12:00:00 AM      1930    10
2  231010808  06/27/2023 12:00:00 AM  06/26/2023 12:00:00 AM      1230    10
3  211410441  04/25/2021 12:00:00 AM  04/25/2021 12:00:00 AM      2330    14
4  211114569  10/25/2021 12:00:00 AM  10/25/2021 12:00:00 AM      1455    11

     AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0   Devonshire         1791         1     440
1  West Valley         1011         2     354
2  West Valley         1015         2     354
3      Pacific         1488         2     626
4    Northeast         1123         1     210

                          Crm Cd Desc  ... Status  Status Desc Crm Cd 1  \
0  THEFT PLAIN - PETTY ($950 & UNDER)  ...     IC  Invest Cont    440.0
1                   THEFT OF IDENTITY  ...     IC  Invest Cont    354.0
2                   THEFT OF IDENTITY  ...     IC  Invest Cont    354.0
3   INTIMATE PARTNER - SIMPLE ASSAULT  ...     IC  Invest Cont    626.0
4                             ROBBERY  ...     IC  Invest Cont    210.0

  Crm Cd 2  Crm Cd 3 Crm Cd 4                                  LOCATION  \
0      NaN       NaN      NaN   8300    KELVIN                       AV
1      NaN       NaN      NaN  18900    CANTLAY                      ST
2      NaN       NaN      NaN   7300    ENFIELD                      AV
3      NaN       NaN      NaN   5800 W  CENTURY                      BL
4      NaN       NaN      NaN   2900    LOS FELIZ                    BL

  Cross Street      LAT       LON
0          NaN  34.2200 -118.5863
1          NaN  34.2023 -118.5458
2          NaN  34.2033 -118.5241
3          NaN  33.9456 -118.3835
4          NaN   0.0000    0.0000

[5 rows x 28 columns]

In [ ]:
missing = data.isnull().sum()
print("missing values per column:")
print(missing)
filtered = data.dropna(axis=1, thresh=len(data)*0.5)
filtered.to_csv(r"C:\Users\USER\OneDrive\Desktop\DataVis_Homework1\crime_data_cleaned.csv", index=False)

missing values per column:
DR_NO                 0
Date Rptd             0
DATE OCC              0
TIME OCC              0
AREA                  0
AREA NAME             0
Rpt Dist No           0
Part 1-2              0
Crm Cd                0
Crm Cd Desc           0
Mocodes            7498
Vict Age              0
Vict Sex           7163
Vict Descent       7165
Premis Cd             0
Premis Desc          29
Weapon Used Cd    33654
Weapon Desc       33654
Status                0
Status Desc           0
Crm Cd 1              2
Crm Cd 2          46448
Crm Cd 3          49885
Crm Cd 4          49995
LOCATION              0
Cross Street      42258
LAT                   0
LON                   0
dtype: int64
Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Status', 'Status Desc', 'Crm Cd 1', 'LOCATION', 'LAT', 'LON'],
      dtype='object')

In [13]:
import pandas as pd

new_data = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\DataVis_Homework1\crime_data_cleaned.csv")
new_data['DATE OCC'] = pd.to_datetime(new_data['DATE OCC'], errors='coerce')
new_data['Year'] = new_data['DATE OCC'].dt.year
new_data['Month'] = new_data['DATE OCC'].dt.month
new_data['Day'] = new_data['DATE OCC'].dt.day
new_data['TIME OCC'] = new_data['TIME OCC'].astype(str).str.zfill(4)  
new_data['Hour'] = new_data['TIME OCC'].str[:2].astype(int)
print(new_data[['DATE OCC', 'Year', 'Month', 'Day', 'TIME OCC', 'Hour']].head())
new_data.to_csv(r"C:\Users\USER\OneDrive\Desktop\DataVis_Homework1\crime_data_transformed.csv", index = False)

C:\Users\USER\AppData\Local\Temp\ipykernel_1920\2492548358.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  new_data['DATE OCC'] = pd.to_datetime(new_data['DATE OCC'], errors='coerce')

    DATE OCC  Year  Month  Day TIME OCC  Hour
0 2024-08-01  2024      8    1     1319    13
1 2023-09-15  2023      9   15     1930    19
2 2023-06-26  2023      6   26     1230    12
3 2021-04-25  2021      4   25     2330    23
4 2021-10-25  2021     10   25     1455    14

In [14]:
import pandas as pd

new_data = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\DataVis_Homework1\crime_data_transformed.csv")
new_data['DATE OCC'] = pd.to_datetime(new_data['DATE OCC'], format="%m/%d/%Y", errors='coerce')
data_2023 = new_data[new_data['Year'] == 2023]
burgarly_2023 = data_2023[data_2023['Crm Cd Desc'].str.contains("BURGLARY", na=False, case=False)]
print(burgarly_2023.head())

         DR_NO               Date Rptd DATE OCC  TIME OCC  AREA  AREA NAME  \
47   231107877  04/15/2023 12:00:00 AM      NaT       500    11  Northeast
53   231312734  06/23/2023 12:00:00 AM      NaT      1100    13     Newton
130  241305432  01/31/2024 12:00:00 AM      NaT      2130    13     Newton
147  231912840  08/15/2023 12:00:00 AM      NaT      2200    19    Mission
158  230817252  11/21/2023 12:00:00 AM      NaT      1545     8    West LA

     Rpt Dist No  Part 1-2  Crm Cd            Crm Cd Desc  ... Status  \
47          1151         1     310               BURGLARY  ...     IC
53          1331         1     330  BURGLARY FROM VEHICLE  ...     IC
130         1385         1     330  BURGLARY FROM VEHICLE  ...     IC
147         1962         1     310               BURGLARY  ...     IC
158          802         1     330  BURGLARY FROM VEHICLE  ...     IC

     Status Desc Crm Cd 1                                  LOCATION      LAT  \
47   Invest Cont    310.0   5000 W  SUNSET                       BL  34.0981
53   Invest Cont    330.0   3200 S  GRAND                        AV  34.0216
130  Invest Cont    330.0   5800 S  CENTRAL                      AV  33.9857
147  Invest Cont    310.0  15000    CORE                         LN  34.2424
158  Invest Cont    330.0                    WILL ROGERS STATE PARK  34.0506

          LON  Year Month  Day Hour
47  -118.2983  2023     1   15    5
53  -118.2754  2023     6   23   11
130 -118.2628  2023     7   31   21
147 -118.4596  2023     8   14   22
158 -118.5131  2023    11   21   15

[5 rows x 26 columns]

In [15]:
import pandas as pd
new_data = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\DataVis_Homework1\crime_data_cleaned.csv")
new_data['Vict Age'] = pd.to_numeric(new_data['Vict Age'], errors='coerce')

crime_stats = new_data.groupby('AREA NAME').agg(
    Total_Crimes=('DR_NO', 'count'), 
    Avg_Victim_Age=('Vict Age', 'mean')
)

crime_stats_sorted = crime_stats.sort_values(by='Total_Crimes', ascending=False)

print(crime_stats_sorted)
crime_stats_sorted.to_csv(r"C:\Users\USER\OneDrive\Desktop\DataVis_Homework1\crime_stats_by_area.csv")

             Total_Crimes  Avg_Victim_Age
AREA NAME
Central              3517       28.481376
77th Street          3115       29.151525
Pacific              3004       28.978029
Southwest            2831       29.048040
Hollywood            2556       28.331377
Newton               2537       25.054789
Olympic              2523       27.732858
N Hollywood          2503       28.346784
Southeast            2459       28.362749
Rampart              2388       26.273451
Wilshire             2379       29.595628
West LA              2249       30.307248
Van Nuys             2162       31.748381
West Valley          2114       30.640492
Northeast            2103       28.732763
Topanga              2076       34.018786
Harbor               2052       26.983918
Devonshire           2031       29.597735
Mission              1933       29.609415
Hollenbeck           1843       26.158437
Foothill             1625       30.511385